---
import { Image } from "astro:assets";
import LogoFooter from "../assets/logo-footer.svg"
import IconLocation from "../assets/icon-location.svg"
import IconPhone from "../assets/icon-phone.svg"
import IconEmail from "../assets/icon-email.svg"
---

<footer class="pt-40 px-6 pb-16 bg-vDarkCyan lg:px-20 lg:pb-20 2xl:px-44">
	<Image src={LogoFooter}
	alt="Huddle logo"
	class="mb-8"
	width={175}
	height={120}
	/>
	<div class="lg:flex lg:justify-between lg:items-start">
		<div class="flex flex-col gap-y-6 sm:w-10/12 lg:w-96">
			<div class="flex items-start gap-x-7">
				<Image src={IconLocation}
				alt="location icon"
				class="mt-1.5"
				width={24}
				height={22}
				/>
				<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
					incididunt ut labore et dolore magna aliqua
				</p>
			</div>
			<div class="flex items-start gap-x-7">
				<Image src={IconPhone}
				alt="phone icon"
				width={18}
				height={20}
				/>
				<p class="text-white">+1-543-123-4567</p>
			</div>
			<div class="flex items-start gap-x-7">
				<Image src={IconEmail}
				alt="email icon"
				class="mt-1.5"
				width={19}
				height={20}
				/>
				<p class="text-white">example@huddle.com</p>
			</div>
		</div>
		<div class="grid grid-cols-1 gap-y-4 py-14 lg:grid-cols-2 lg:py-0 lg:gap-x-16 xl:gap-x-44">
			<a href="#" class="text-lg text-white hover:underline">About Us</a>
			<a href="#" class="text-lg text-white lg:col-start-1 lg:row-start-2 hover:underline">What We Do</a>
			<a href="#" class="text-lg text-white lg:col-start-1 lg:row-start-3 hover:underline">FAQ</a>
			<a href="#" class="text-lg text-white lg:col-start-2 lg:row-start-1 hover:underline">Career</a>
			<a href="#" class="text-lg text-white lg:col-start-2 lg:row-start-2 hover:underline">Blog</a>
			<a href="#" class="text-lg text-white">Contact Us</a>
		</div>
		<div class="flex justify-center items-center gap-x-4 2xl:me-48">
			<a href="#" class="border rounded-full p-2 duration-200 group hover:border-pink">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16">
					<path class="group-hover:fill-pink" fill="#fff" d="M9.5 3H12V0H9.5C7.57 0 6 1.57 6 3.5V5H4v3h2v8h3V8h2.5l.5-3H9V3.5c0-.271.229-.5.5-.5z"/>
				</svg>
			</a>
			<a href="#" class="border rounded-full p-2 duration-200 group hover:border-pink">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
					<path class="group-hover:fill-pink" fill="#fff" d="M17.316 6.246c.008.162.011.326.011.488c0 4.99-3.797 10.742-10.74 10.742c-2.133 0-4.116-.625-5.787-1.697a7.577 
						7.577 0 0 0 5.588-1.562a3.779 3.779 0 0 1-3.526-2.621a3.858 3.858 0 0 0 1.705-.065a3.779 3.779 0 0 1-3.028-3.703v-.047a3.766 3.766 0 0 0 1.71.473a3.775 3.775 0 
						0 1-1.168-5.041a10.716 10.716 0 0 0 7.781 3.945a3.813 3.813 0 0 1-.097-.861a3.773 3.773 0 0 1 3.774-3.773a3.77 3.77 0 0 1 2.756 1.191a7.602 7.602 0 0 0 
						2.397-.916a3.789 3.789 0 0 1-1.66 2.088a7.55 7.55 0 0 0 2.168-.594a7.623 7.623 0 0 1-1.884 1.953z"
					/>
				</svg>
			</a>
			<a href="#" class="border rounded-full p-2 duration-200 group hover:border-pink">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 14">
					<g class="group-hover:stroke-pink" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round">
						<path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/>
						<path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/>
						<path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/>
					</g>
				</svg>
			</a>
		</div>
	</div>
	<span class="block mt-8 text-center text-white lg:text-end lg:mt-16">&copy; Copyright 2018 Huddle. All rights reserved.</span>
</footer>